<!DOCTYPE html>
<html>
  <head>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">

  </head>

  <body>


    <div class="books hidden"><%= JSON.stringify(locals.books) %></div>
    <h1>My Books</h1>
    <ul class="bookshelf"></ul>




  <script type="text/javascript" src="../../common/ajax-functions.js"></script>
  <script type="text/javascript" src="../../controllers/myBooks.client.js"></script>
  </body>


</html>
