<!DOCTYPE html>
<html>
  <head>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">

        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
  </head>

  <body>

    <h1><%= locals.email %>'s Books</h1>
    <div class="userEmail hidden"><%= locals.email %></div> 
    <div class="books hidden"><%= JSON.stringify(locals.books) %></div>
    <div class="curUserBooks hidden"><%= JSON.stringify(locals.curUserBooks) %></div>

    <ul class="bookshelf"></ul>


    <div class="trade-view">
      <div class="left">
        <ul class="bookshelf-curUser-list"></ul>

      </div>

      <div class="right">
        <ul class="bookshelf-otherUser-list"></ul>

      </div>
    </div>

    <button class="trade">Make a Trade Request</button>

  <script type="text/javascript" src="../../common/ajax-functions.js"></script>
  <script type="text/javascript" src="../../controllers/userBooks.client.js"></script>
  </body>


</html>
