<!DOCTYPE html>
<html>
  <head>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <% if (locals.email) { %>
      <h1><%= locals.email %>'s Books</h1>
    <% } else { %>
      <h1>My Books</h1>
    <% } %>

    <div class="books hidden"><%= JSON.stringify(locals.books) %></div>
    <div class="curUserBooks hidden"><%= JSON.stringify(locals.curUserBooks) %></div>

    <ul class="bookshelf"></ul>
    <button class="trade">Offer Trade</button>

    <div class="trade-view">
      <div class="left">
        <ul class="bookshelf-curUser-list"></ul>




      </div>

      <div class="right">
        <ul class="bookshelf-otherUser-list"></ul>

      </div>
    </div>



  <script type="text/javascript" src="../../common/ajax-functions.js"></script>
  <script type="text/javascript" src="../../controllers/userBooks.client.js"></script>
  </body>


</html>
