<!DOCTYPE html>

<html>

	<head>
		<title>BookTrader</title>

		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	</head>


	<header>
		<a class="menu" href="/profile">Profile</a>
		<p>|</p>
		<a class="menu" href="/userBooks">My Books</a>
		<p>|</p>
		<a class="menu" href="/myTradeOffers">My Offers</a>
		<p>|</p>
		<a class="menu" href="/myTradeRequests">My Requests</a>
		<p>|</p>
		<a class="menu" href="/logout">Logout</a>
	</header>

	<body style="background: url('http://static.boredpanda.com/blog/wp-content/uploads/2016/03/trinity-college-long-room-library-dublin-12.jpg'); background-size: cover;">
		<div class="userEmail hidden"><%= locals.userEmail %></div>

		<!-- <div class="jumbotron jumbotron-fluid"> -->
		  <div class="container">
				<h1 class="app-title">BookTradr</h1>
		    <p class="lead">Search for books using Google's Books API.  See other users' books, make trade propsals, and consider trade requests that are sent to you.</p>
		  </div>
		<!-- </div> -->

			<form class="searchBooks">
				<div class="input-group input-group-lg">
					<span class="input-group-addon glyphicon glyphicon-search"></span>
					<input type="text" placeholder='Search for books' class="form-control searchTerm"></input>
				</div>

			</form>


		<ul class="users list-group">
		</ul>

		<ul class="books">

		</ul>

		<script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type="text/javascript" src="controllers/clickController.client.js"></script>
	</body>

</html>
