<!DOCTYPE html>

<html>

	<head>
		<title>BookTrader</title>

		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	</head>

	<header>
		<a class="menu" href="/profile">Profile</a>
		<p>|</p>
		<a class="menu" href="/userBooks">My Books</a>
		<p>|</p>
		<a class="menu" href="/logout">Logout</a>
	</header>

	<body>
		<div class="userEmail hidden"><%= locals.userEmail %></div>

		<div class="container">
			<p>Search for books using the Google Books Api</p>
			<form class="searchBooks">

				<input class="searchTerm"></input>
				<input type="submit"></input>
			</form>

		</div>

		<ul class="users">
		</ul>

		<ul class="books">

		</ul>

		<script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type="text/javascript" src="controllers/clickController.client.js"></script>
	</body>

</html>
